@use 'base';
@use "sass:color";

form ul {
	margin:1rem;
	max-width: 70%;
	padding: 0.5rem 0.3rem 0.25rem 0.5rem;
}
form ul li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 0.3rem 0 0 0;
}
form ul label{
	margin:0 0 0.1rem 0;
	padding: 0rem;
	display: block;
	font-weight: bold;
}

form ul {
  input[type=submit], button, input[type=button]{

    position: relative;
    display: block;
    padding: .5rem;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    margin-bottom: 1rem;
  }
  input[type=text], input[type=password], textarea {

    width: 100%;

    margin: 0;

    margin-bottom: 30px;
  }
}

form.contentForm input[type=submit], form.contentForm button, form input[type=button]{

  background-color: color.adjust(base.$header-color, $alpha: -0.35);
  color: base.$font-color;
  font-weight: bold;
  font-size: 100%;

  cursor: pointer;

  border: 1px solid color.adjust(base.$header-color, $alpha: -0.1);
  border-width: 1px 1px 3px;

  vertical-align: top;
}

form {
  input[type=text], input[type=password], textarea {

    color: base.$font-color;
    background: rgba(255,255,255,.1);
    font-size: 100%;

    padding: .5rem;
    margin: -.5rem;

    border: none;
    border-radius: 4px;
    outline: 0;

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  }
  input[type=text]:focus, input[type=password]:focus, textarea:focus {
    -moz-box-shadow: 0 0 5px base.$light-highlight-color;
    -webkit-box-shadow: 0 0 5px base.$light-highlight-color;
    box-shadow: 0 0 5px base.$light-highlight-color;
    border: 1px solid base.$light-highlight-color;
  }
}

.headerForm {
  display: inline;
}

form.headerForm {
  input[type=text], input[type=password] {
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 0.65rem;
    line-height: 1.15rem;
  }
}

/* Custom select
   Source: https://speckyboy.com/open-source-css-javascript-select-box-snippets/ (6 Pure CSS)
*/

.select {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;

  select {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 10px 15px;
    outline: 0;
    border: 0;
    border-radius: 0;
    appearance: none;

    background: base.$header-color;
    color: base.$font-color;

    -webkit-appearance: none;
    -moz-appearance: none;
  }

  select::-ms-expand {
    display: none;
  }
  select:hover, .select select:focus {
    color: base.$font-color;
    background: color.adjust(base.$header-color, $lightness:5);
  }
  select:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  select:hover ~ .select__arrow, select:focus ~ .select__arrow {
    border-top-color: base.$font-color;
  }
  select:disabled ~ .select__arrow {
    border-top-color: base.$font-color;
  }
}
.select__arrow {
  position: absolute;
  top: 16px;
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: color.adjust(base.$font-color, $alpha: -0.3) transparent transparent transparent;
}
