@use 'base';
@use "sass:color";

a:hover {
  cursor: pointer;
}

nav {
  background-color: base.$header-color;
  border: 1px solid color.adjust(base.$header-color, $lightness: 10);
  border-width: 1px 1px 3px;
  margin-bottom: 1rem;

  h1, a, input, button, .linkLike {
    color: base.$font-color;
    display: inline-block;

    padding:0.9rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;

    margin: 0rem;

    line-height: 1.7rem;
    vertical-align: top;

    font-weight: bold;
    border: 1px solid color.adjust(base.$header-color, $lightness: 10);
    border-width: 0px 1px 0px 0px;
    background-color: color.adjust(base.$highlight-color, $alpha: -0.95);
  }
  .linkLike {

    padding-right: 0.3rem;
    padding-left: 0.7rem;

    .treeName {
      margin-right: 0.4rem;
    }
  }
  a:hover, input[type=submit]:hover, button:hover {
    cursor: pointer;
    background-color: color.adjust(base.$highlight-color, $alpha: -0.73);
  }
  .thinButton {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }
  .mediumButton {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .innerButton {
    padding: 0.4rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;

    margin: 0.1rem;

    display: inline;
    background-color: transparent;
    z-index: 10;
    border: none;

    background-color: color.adjust(base.$highlight-color, $alpha: -0.93);
    border-radius: 0.3rem;
  }
  form.innerButton {
    background-color: transparent;
  }
  .innerButton button {
    margin: 0rem;
    padding: 0rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
  }
}

footer {
  float: bottom;
}

a {
  font-family: base.$font-stack;
  color: base.$font-color;
  text-decoration: none;
  font-weight: bold;
}

%link-block {
  font-family: base.$font-stack;
  color: base.$font-color;
  text-decoration: none;
  padding: 0.5rem;
  font-weight: bold;
  font-size: 100%;
  line-height: 1em;
  background-color: color.adjust(base.$background-color, $lightness: 5);
}

%link-block:hover {
  background-color: color.adjust(base.$highlight-color, $alpha: -0.7);
}

%link-block.selected {
  background-color: color.adjust(base.$background-color, $lightness: 20);
}

.buttonLink {
  @extend %link-block;
}

.buttonLink:visited {
}

.buttonLink:active {
  background-color: color.adjust(base.$highlight-color, $hue: 10);
}

@for $i from 1 through 6 {

  h#{$i} {
    background-color: base.$header-color;
    padding: 1rem;
    //line-height: 30px;
    border: 1px solid color.adjust(base.$header-color, $lightness: 10);
    border-width: 1px 1px 3px;
  }

  h#{$i} a {
    background-color: transparent;
    padding: initial;
    line-height: initial;
  }

  h#{$i} a:hover {
    background-color: transparent;
  }
}

article {
  margin-top: 0.2rem;
}

.inlineDeleteForm {
  display: inline-block;
}

.backgroundButton {
  display:inline-block;

  box-shadow: none;
  border-color: transparent;
  border-radius: 0px;
  border: 0px;
  text-shadow: none;
  cursor:pointer;

  @extend %link-block;
}
.backgroundButton:active {
  position:relative;
  top:1px;
}

.tagBlock {
  display: inline-block;
  margin: 0.5em;
}

p {
  padding: 1rem;
}
