{% load i18n %}

<span v-cloak>

{% if has_writer_permission %}
<a href="{% url 'tags:upsert_entry' group_name=group.name tree_id=current_tree.id %}" class="buttonLink" ><i class="fa fa-plus"></i> {% trans "Add" %}</a>

<button @click="toggleQuickAdd('{{ position }}')" class="buttonLink" ><i class="fa fa-flash"></i> {% trans "Quick add" %}</button>

<button @click="toggleSelectMode()" class="buttonLink" ><i class="fa fa-dot-circle-o"></i> {% trans "Select" %}</button>

<form v-if="selectMode" method="post" action="{% url 'tags:view_tree' group_name=group.name tree_id=current_tree.id %}" class="inlineForm">
  {% csrf_token %}
  <input type="hidden" name="entries" id="id_entries" v-bind:value="getSelectedEntriesIds()" >
  <button name="delete_entries" class="buttonLink" ><i class="fa fa-trash"></i> {% trans "Remove" %}</button>
</form>
<button v-if="!selectMode" name="delete_entries" class="buttonLink disabledLink" ><i class="fa fa-trash"></i> {% trans "Remove" %}</button>

<a href="{% url 'tags:import_entries' group_name=group.name tree_id=current_tree.id %}" class="buttonLink" ><i class="fa fa-download"></i> {% trans "Import entries" %}</a>
<a href="{% url 'tags:export_entries' group_name=group.name tree_id=current_tree.id %}?selected_tags={{ selected_tags }}" class="buttonLink" ><i class="fa fa-upload"></i> {% trans "Export entries" %}</a>

<div class="errorMessage">{{ quick_add_form.non_field_errors }}</div>

<form v-if="displayQuickAdd('{{ position }}')" class="contentForm" method="post" action="{% url 'tags:view_tree' group_name=group.name tree_id=current_tree.id %}" >
{% csrf_token %}
<ul>
  <li>
    <div class="errorMessage">{{ quick_add_form.name.errors }}</div>
    {{ quick_add_form.name.label_tag }} {{ quick_add_form.name }}
  </li>
  <li>
    <div class="errorMessage">{{ quick_add_form.tags.errors }}</div>
    {{ quick_add_form.tags.label_tag }} {{ quick_add_form.tags }}
  </li>
  <li><button type="submit" name="add_entry" >{% trans "Submit" %}</button></li>
</ul>
{{ quick_add_form.entry_id }}
</form>

{% endif %}

</span>
