<article>
  <a href="{% url 'tags:view_tree' group_name=group.name %}" class="buttonLink" >{{ group.name }}</a>

  {% if has_writer_permission %}
    <a class="buttonLink" href="{% url 'tags:upsert_group' username=username group_id=group.id %}">Edit</a>
    <form class="inlineDeleteForm" action="{% url 'tags:manage_groups' username=username %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="delete_group_id" value="{{ group.id }}">
      <button class="backgroundButton" type="submit" ><i class="fa fa-trash"></i></button>
    </form>
  {% endif %}
    
</article>
