{% load i18n %}

<li>
  <a href="{% url 'tags:view_tree' group_name=group.name %}" class="buttonLink" >{{ group.name }}</a>

  {% if single_member %}
  <a class="buttonLink" href="{% url 'tags:profile' username=group.name %}">{% trans "View profile" %}</a>
  {% else %}
  <a class="buttonLink" href="{% url 'tags:view_group' group_id=group.id %}">{% trans "View group info" %}</a>
  {% endif %}
  {% if has_admin_permission and not single_member %}
    <form class="inlineDeleteForm" action="{% url 'tags:view_groups' %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="delete_group_id" value="{{ group.id }}">
      <button class="backgroundButton iconLink" type="submit" ><i class="fa fa-trash"></i></button>
    </form>
  {% endif %}
    
</li>
