{% extends "tags/base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'tags:login' %}" class="contentForm" >
  {% csrf_token %}
  <ul>
  {{ form.as_ul }}
  <li><input type="submit" value="login"></li>
  </ul>
  <input type="hidden" name="next" value="{{ next }}">
</form>

<p><a href="{% url 'tags:signup' %}">Sign Up</a></p>

{% endblock %}
