{% extends "tags/base.html" %}
{% load i18n %}

{% block title %}{% trans "Login" %}{% endblock %}

{% block content %}


{% if next %}
    {% if user.is_authenticated %}
    <p>
    {% blocktrans %}Your account doesn't have access to this page. To proceed,
    please login with an account that has access.{% endblocktrans %}</p>
    {% else %}
    <p>{% trans "Please login to see this page." %}</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'tags:login' %}" class="contentForm" >
  {% csrf_token %}
  <ul>
  {% if form.errors %}
  <li class="errorMessage" >{% trans "Your username and password didn't match. Please try again." %}</li>
  {% endif %}
  {{ form.as_ul }}
  <li><input type="submit" value="{% trans "Login" %}"></li>
  </ul>
  <input type="hidden" name="next" value="{{ next }}">
</form>

<p><a href="{% url 'tags:signup' %}?next={% url 'tags:login' %}?next={% url 'tags:post_login' %}">{% trans "Sign Up" %}</a></p>

{% endblock %}
