{% extends "tags/base.html" %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block content %}

<h1>
  {{ link_user.username }}

  {% if has_group_view_permission %}
  <div class="separator"> </div>
  <a href="{% url 'tags:view_tree' group_name=link_user.username %}">Personal Group</a>
  {% endif %}
</h1>

<h3>Personal group visibility settings</h3>

<p>
Personal group is visible to <b>{{ group_visible_to }}</b> and listed to <b>{{ group_listed_to }}</b>
</p>

{% if has_edit_permission %}
<h3>Edit profile</h3>

  <form class="contentForm" method="post" action="{% url "tags:profile" username=username %}">
    {% csrf_token %}
    <div class="errorMessage">{{ form.non_field_errors }}</div>
    <ul>
      <li>
        <div class="errorMessage">{{ form.username.errors }}</div>
        {{ form.username.label_tag }} {{ form.username }}
      </li>
      <li>
	<div class="errorMessage">{{ form.listed_to_public.errors }}</div>
        {{ form.listed_to_public.label_tag }}
        <div class="select" >{{ form.listed_to_public }}</div>
      </li>
      <li>
	<div class="errorMessage">{{ form.visible_to_public.errors }}</div>
        {{ form.visible_to_public.label_tag }}
        <div class="select" >{{ form.visible_to_public }}</div>
      </li>
      <br/>
      <li><input type="submit" name="edit_profile" value="Submit"></li>
    </ul>
  </form>
  <p><a href="{% url "tags:password_change" %}">Change password</a></p>
{% endif %}

{% endblock %}

{% block script_includes %}
  {{ block.super }}
  <!-- VueJS Script include -->
  <script src="{% static 'tags/select.js' %}"></script>
{% endblock %}
