{% load static %}

<!doctype html>
<html lang="fr">

  <head>
    <meta charset="utf-8">
    <title>Tagforest - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'tags/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'tags/forms.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'tags/markdown.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <nav><!--
    --><h1><a href="{% url 'tags:index' %}" >Tagforest</a></h1><!--
    --><a href="{% url 'tags:view_groups' %}" {% if current_page == 'groups' %}class="activeLink" {% endif %}>Groups</a><!--
    {% if logged_in %}
      --><a href="{% url 'tags:index' %}" {% if current_page == 'personal_tree' %}class="activeLink" {% endif %}>Personal Trees</a><!--
      --><a href="{% url 'tags:profile' username=username %}" {% if current_page == 'profile' %}class="activeLink" {% endif %}>{{ username }}</a><!--
      --><a href="{% url 'tags:logout' %}?next={% url 'tags:index' %}" {% if current_page == 'logout' %}class="activeLink" {% endif %}>Logout</a><!--
    {% else %}
      --><a href="{% url 'tags:login' %}?next={% url 'tags:index' %}" {% if current_page == 'login' %}class="activeLink" {% endif %}>Login</a><!--
    {% endif %}
    -->{% block nav_menu_tree_links %}{% endblock %}<!--


    {% if logged_in %}
      --><div class="alignRight"><div id="notification_menu_app" class="dropdown">
	<button v-click-outside="hide" @click="toggle" >
	  {% if new_notification_count %}
	    <b><i class="fa fa-bell"></i></b>
	    <div class="notificationCount"><b>{{ new_notification_count }}</b></div>
	  {% else %}
	    <i class="fa fa-bell"></i>
	  {% endif %}
	</button>
	<div v-if="showMenu" class="dropdown-content" >
	  {% if new_notification_count %}
	    <h1>Notifications:</h1>
	    {% for message, notification_id in new_notifications %}
	      <a href="{% url 'tags:view_notification' notification_id=notification_id %}">{{ message }}</a>
	    {% endfor %}
	  {% else %}
	    <a href="">No new notifications</a>
	  {% endif %}
	  <a href="{% url 'tags:view_notifications' %}"><b>View all notifications</b></a>
	</div>
      </div></div><!--
    {% endif %}

    --><a href="{% url 'tags:about' %}" {% if current_page == 'about' %}class="activeLink" {% endif %}>About</a><!--
  --></nav>

  {% block nav_content %}
  {% endblock %}

  <body {% block body_data %}{% endblock %} >
    <div class="bodyBlock">
    {% block content %}
    {% endblock %}
    </div>

    {% block script_includes %}
      <!-- VueJS scripts include !-->
      <script src="{% static 'tags/vue.js' %}"></script>
      <script src="{% static 'tags/vue-click-outside.js' %}"></script>
      <script src="{% static 'tags/notification_menu.js' %}"></script>
    {% endblock %}

  </body>
  
  <footer>
    v1.4.1 - <a class="buttonLink" href="https://github.com/vlaya8/tagforest" >Tagforest Github</a> - 
    <a class="buttonLink" href="{%url 'tags:about' %}">About</a>
  </footer>


</html>
