{% load static %}
{% load i18n %}

<!doctype html>
<html lang="fr">

  <head>
    <meta charset="utf-8">
    <title>Tagforest - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'tags/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'tags/forms.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'tags/entry.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'tags/markdown.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <div id="bodyBlock" >

      <div id="bodyWrap" >
        <nav>
          <ul>
            <li><h1><a href="{% url 'tags:index' %}" >Tagforest </a></h1></li><!--
          --><li><a href="{% url 'tags:view_groups' %}" {% if current_page == 'groups' %}class="activeLink" {% endif %}>
              {% trans "Groups" %}
          </a></li><!--
          {% if logged_in %}
            --><li><a href="{% url 'tags:index' %}" {% if current_page == 'personal_tree' %}class="activeLink" {% endif %}>
                {% trans "Personal Trees" %}
          </a></li><!--
            --><li><a href="{% url 'tags:profile' username=username %}" {% if current_page == 'profile' %}class="activeLink" {% endif %}>{{ username }}</a></li><!--
          {% else %}
            --><li><a href="{% url 'tags:login' %}?next={% url 'tags:post_login' %}" {% if current_page == 'login' %}class="activeLink" {% endif %}>
                {% trans "Login" %}
            </a></li><!--
          {% endif %}
          {% block nav_menu_tree_links %}{% endblock %}

          --><li><a href="{% url 'tags:about' %}" {% if current_page == 'about' %}class="activeLink" {% endif %}>
              {% trans "About" %}
            </a></li><!--


          --><li><!--
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}

          --><div id="language_menu_app" class="dropdown">
              <button class="buttonResize" v-click-outside="hide" @click="toggle" >Language ({{ LANGUAGE_CODE }})</button>
              <div v-cloak v-if="showMenu" class="dropdown-content languageDropdown" >
                {% for language in languages %}
                    {% language language.code %}
                    <a href="{% url 'tags:index' %}" >{{ language.name_local }} ({{ language.code }})</a>
                    {% endlanguage %}
                {% endfor %}
              </div>
            </div>
          </li><!--
   
          {% if logged_in %}
            --><li>
            <div class="alignRight"><div id="notification_menu_app" class="dropdown">
              <button v-click-outside="hide" @click="toggle" >
                {% if new_notification_count %}
                  <b><i class="fa fa-bell"></i></b>
                  <div class="notificationCount"><b>{{ new_notification_count }}</b></div>
                {% else %}
                  <i class="fa fa-bell"></i>
                {% endif %}
              </button>
              <div v-cloak v-if="showMenu" class="dropdown-content notificationDropdown" >
                {% if new_notification_count %}
                  <h1>Notifications:</h1>
                  {% for message, notification_id in new_notifications %}
                    <a href="{% url 'tags:view_notification' notification_id=notification_id %}">{{ message }}</a>
                  {% endfor %}
                {% else %}
                  <a href="">{% trans "No new notifications" %}</a>
                {% endif %}
                <a href="{% url 'tags:view_notifications' %}"><b>{% trans "View all notifications" %}</b></a>
              </div>
            </div></div>
            </li><!--
          {% endif %}

	  --></ul>

        </nav>

        {% block nav_content %}
        {% endblock %}

        <div id="bodyContent" >
        {% block content %}
        {% endblock %}
        </div>
      </div>

      <footer>
        <b><!--CURRENT_VERSION--> (<!--CURRENT_VERSION_DATE-->)</b> -
        <a class="buttonLink" href="https://github.com/vlaya8/tagforest" >Tagforest Github</a> - 
        <a class="buttonLink" href="{%url 'tags:about' %}">{% trans "About" %}</a>
      </footer>

    </div>

    {% block script_includes %}
      <!-- VueJS scripts include !-->
      <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
      <script src="{% static 'tags/vue-click-outside.js' %}"></script>
      <script src="{% static 'tags/notification_menu.js' %}"></script>
      <script src="{% static 'tags/language_menu.js' %}"></script>
      <script src="{% static 'tags/hide_after_load.js' %}"></script>
    {% endblock %}

  </body>
  


</html>
