{% extends "tags/base.html" %}

{% block title %}Manage groups{% endblock %}

{% block content %}

  <b>Saved groups:</b>
  {% for group, has_writer_permission in saved_groups %}
      {% include "tags/blocks/group_block.html" %}
  {% endfor %}
  <br/>
  <b>Joined groups:</b>
  {% for group, has_writer_permission in joined_groups %}
      {% include "tags/blocks/group_block.html" %}
  {% endfor %}
  <br/>
  <b>Public listed groups:</b>
  {% for group, has_writer_permission in listed_groups %}
      {% include "tags/blocks/group_block.html" %}
  {% endfor %}

  <br/><br/>
  <a href="{% url 'tags:upsert_group' username=username %}" class="buttonLink" ><i class="fa fa-plus"></i></a>

{% endblock %}
