{% extends "tags/base.html" %}
{% load i18n %}

{% block title %}{% trans "Add group" %}{% endblock %}

{% block content %}

<form class="contentForm" method="post" action="{% url 'tags:upsert_group' %}">
  {% csrf_token %}
  <div class="errorMessage">{{ form.non_field_errors }}</div>
  {% for hidden in form.hidden_fields %}
    {{ hidden }}
  {% endfor %}
  <ul>
    <li>
      <div class="errorMessage">{{ form.name.errors }}</div>
      {{ form.name.label_tag }} {{ form.name }}
    </li>
    <li>
      <div class="errorMessage">{{ form.listed_to_public.errors }}</div>
      {{ form.listed_to_public.label_tag }}
      <div class="select" >{{ form.listed_to_public }}</div>
    </li>
    <li>
      <div class="errorMessage">{{ form.visible_to_public.errors }}</div>
      {{ form.visible_to_public.label_tag }}
      <div class="select" >{{ form.visible_to_public }}</div>
    </li>
    <br/>
    <li><input type="submit" name="upsert_group" value="{% trans "Submit" %}"></li>
  </ul>
</form>

{% endblock %}
