{% extends "tags/base_tree.html" %}
{% load static %}

{% block title %}Index{% endblock %}

{% block content %}

  <!-- VueJS tag select app -->
  <div id="tag_select_app">
    {% for tag_count, tag_name, selected_tags in tag_list %}
      {% include "tags/blocks/tag_block.html" with url_args=selected_tags %}
    {% endfor %}
  </div>

  <br/><br/>

  <!-- Entries -->
  {% for entry in entry_list %}
    {% include "tags/blocks/entry_block.html" %}
  {% endfor %}

  {% if has_tree %}
  <br/><br/>
  <a href="{% url 'tags:upsert_entry' group_name=group_name tree_id=current_tree_id %}" class="buttonLink" ><i class="fa fa-plus"></i></a>
  {% endif %}

{% endblock %}

{% block script_includes %}
{{ block.super }}
  <!-- VueJS Script include -->
  <script src="{% static 'tags/tag_select.js' %}"></script>
{% endblock %}
