{% extends "tags/base.html" %}
{% load i18n %}

{% block title %}{% trans "Notification" %}{% endblock %}

{% block content %}

<p>{{ message }}</p>

{% if not deleted_group %}

<form action="{% url "tags:view_notification" notification_id=notification.id %}" method="post">
  {% csrf_token %}
  <button class="backgroundButton" name="accept_notification" type="submit" ><i class="fa fa-check"></i> {% trans "Accept" %}</button>
  <button class="backgroundButton" name="decline_notification" type="submit" ><i class="fa fa-close"></i> {% trans "Decline" %}</button>
</form>

{% endif %}

{% endblock %}
