{% extends "tags/base.html" %}
{% load static %}

{% block title %}Notifications{% endblock %}

{% block content %}

  <h1>Notifications:</h1>
  <div id="view_notifications_app">
  {% if unread_notification_count %}
    <p>
      <b>Unread:</b><br/><br/>
      {% for message, notification_id, target_group in unread_notifications %}
        {% if target_group %}
	  <a href="{% url 'tags:view_notification' username=username notification_id=notification_id %}">{{ message }}</a><br/>
        {% else %}
	  <a href="{% url 'tags:view_notification' username=username notification_id=notification_id %}">{{ message }}</a><br/>
        {% endif %}
      {% endfor %}
    </p>
  {% endif %}
  {% if read_notification_count %}
    <p>
      <b>Read:</b><br/><br/>
      {% for message, notification_id, target_group in read_notifications %}
        {% if target_group %}
	  <a href="{% url 'tags:view_tree' group_name=target_group.name %}">{{ message }}</a><br/>
        {% else %}
	  <a v-click-outside="hide" @click.stop="showDialog('This group doesn\'t exist anymore')">{{ message }}</a><br/>
        {% endif %}
      {% endfor %}
    </p>
  {% endif %}

    <div class="dialogBox" v-if="dialogVisible" >
      [[dialogMessage]]
    </div>
  </div>

{% endblock %}

{% block script_includes %}
  {{ block.super }}
  <!-- VueJS Script include -->
  <script src="{% static 'tags/view_notifications.js' %}"></script>
{% endblock %}
