{% extends "tags/base_tree.html" %}
{% load static %}
{% load i18n %}

{% block title %}
{{ group.name }}, {{ current_tree.name }}
{% endblock %}

{% block content %}
{{ block.super }}

  {% if has_tree %}

  <div id="tree_description_app" class="markdown" >
  <p><vue-markdown>{{ current_tree.description}}</vue-markdown></p>
  </div>

  <!-- VueJS entry list app -->
  <div id="entry_list_app" >

    <!-- Tags -->

    <ul class="tagList" >
      {% for tag_count, tag_name, selected_tags in tag_list %}
        {% include "tags/blocks/tag_block.html" with url_args=selected_tags %}
      {% endfor %}
    </ul>
  
    {% if tag_error %}
    <div class="errorMessage"><p>{{ tag_error}}</p></div>
    {% endif %}

    <!-- Entries -->

    <div class="errorMessage">{{ entry_upsert_error }}</div>
    {% include "tags/blocks/entry_manipulation.html" with position="top" %}

    {{ entry_titles|json_script:"entryTitles"}}
    {% if entry_list %}
    <ul v-bind:class="entryDisplayShare.entryDisplay" >
    {% for entry in entry_list %}
      <li>
	<a v-cloak v-if="selectMode" @click="toggleEntry({{entry.id}})" v-bind:class="entryClass({{entry.id}})" >
          <span v-html="entryTitle({{ entry.id }})" ></span>
	</a>
	<a v-cloak v-if="!selectMode" href="{% url 'tags:view_entry' group_name=group.name tree_id=current_tree.id entry_id=entry.id %}" class="buttonLink" >
          <span v-html="entryTitle({{ entry.id }})" ></span>
	</a>
	<a v-if="hideAfterLoad" href="{% url 'tags:view_entry' group_name=group.name tree_id=current_tree.id entry_id=entry.id %}" class="buttonLink" >
          {{ entry.name }}
	</a>
      </li>
    {% endfor %}
    </ul>
    {% else %}
    <br/>
    <p>
      {% blocktrans %}
      There are no entries in this tree, add one with the <b>Add</b> or <b>Quick Add</b> button
      {% endblocktrans %}
    </p>
   <br/>
    {% endif %}

    {% include "tags/blocks/entry_manipulation.html" with position="bottom" %}

  </div>
  {% endif %}

  <br/>

{% endblock %}

{% block script_includes %}
{{ block.super }}
  <!-- VueJS Script include -->
  <script src="https://cdn.jsdelivr.net/npm/vue-markdown@2.2.4/dist/vue-markdown.min.js"></script>
  <script src="{% static 'tags/tree_description.js' %}"></script>
  <script src="{% static 'tags/entry_list.js' %}"></script>
{% endblock %}
