{% extends "tags/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Notifications" %}{% endblock %}

{% block content %}

  <h1>{% trans "Notifications" %}:</h1>
  <div id="view_notifications_app">
  {% if unread_notification_count %}
    <h2>{% trans "Unread:" %}</h2>
      <ul class="notificationList" >
      {% for message, notification_id, target_group in unread_notifications %}
        {% if target_group %}
        <li><a class="buttonLink" href="{% url 'tags:view_notification' notification_id=notification_id %}">{{ message }}</a></li>
        {% else %}
        <li><a class="buttonLink" href="{% url 'tags:view_notification' notification_id=notification_id %}">{{ message }}</a></li>
        {% endif %}
      {% endfor %}
      </ul>
  {% endif %}
  {% if read_notification_count %}
    <h2>{% trans "Read:" %}</h2>
      <ul class="notificationList" >
      {% for message, notification_id, target_group in read_notifications %}
        {% if target_group %}
        <li><a class="buttonLink" href="{% url 'tags:view_tree' group_name=target_group.name %}">{{ message }}</a></li>
        {% else %}
	  {% trans "This group doesn't exist anymore" as dialog_message %}
          <li><a class="buttonLink" v-click-outside="hide" @click.stop="showDialog('{{ dialog_message|addslashes }}')">{{ message }}</a></li>
        {% endif %}
      {% endfor %}
      </ul>
  {% endif %}

    <div class="dialogBox" v-if="dialogVisible" >
      [[dialogMessage]]
    </div>
  </div>

{% endblock %}

{% block script_includes %}
  {{ block.super }}
  <!-- VueJS Script include -->
  <script src="{% static 'tags/view_notifications.js' %}"></script>
{% endblock %}
