{% extends "tags/base.html" %}
{% load static %}

{% block title %}{{ group.name }}{% endblock %}

{% block content %}
  <h1>
    {{ group.name }}
    {% if has_writer_permission %}<div class="separator"> </div><a href="{% url 'tags:upsert_group' username=username group_id=group.id %}" >Edit</a>{% endif %}
  </h1>

  {% if error_message %}
    <div class="errorMessage">{{ error_message }}</div>
  {% endif %}

    <h2>Members</h2>

    <ul>
    {% for member in members %}
      <li>
	<a href="{% url "tags:profile" member.user.username %}" class="buttonLink" >{{member.user}}, {{member.role}}</a>

	<form class="inlineDeleteForm" action="{% url "tags:view_group" username=username group_id=group.id %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="delete_member_id" value="{{ member.id }}">
          <button class="backgroundButton" type="submit" ><i class="fa fa-trash"></i></button>
        </form>

      </li>
    {% endfor %}
    </ul>

  <h2>Invite a member:</h2>
  <form class="contentForm" action="{% url 'tags:view_group' username=username group_id=group.id %}" method="post">
    {% csrf_token %}
    {{ invite_form.non_field_errors }}
    <ul>
      <li>
      {{ invite_form.name.errors }}
      {{ invite_form.name.label_tag }}
      {{ invite_form.name }}
      </li>
      <li>
      {{ invite_form.role.errors }}
      {{ invite_form.role.label_tag }}
      <div class="custom-select">
        {{ invite_form.role }}
      </div>
      </li>
      <br/>
      <li><input type="submit" name="invite_member" value="Submit"></li>
    </ul>
  </form>

{% endblock %}

{% block script_includes %}
{{ block.super }}
<!-- VueJS Script include -->
<script src="{% static 'tags/vue-markdown.js' %}"></script>
<script src="{% static 'tags/entry_display.js' %}"></script>
<script src="{% static 'tags/select.js' %}"></script>
{% endblock %}
