{% extends "tags/base.html" %}

{% block title %}Manage groups{% endblock %}

{% block content %}

  {% if logged_in %}
    <h3>Saved groups:</h3>
    <ul class="groupList" >
    {% for group, single_member, has_admin_permission in saved_groups %}
	{% include "tags/blocks/group_block.html" %}
    {% endfor %}
    </ul>

    <h3>Joined groups:</h3>
    <ul class="groupList" >
    {% for group, single_member, has_admin_permission in joined_groups %}
	{% include "tags/blocks/group_block.html" %}
    {% endfor %}
    </ul>
  {% else %}
    <p>
      <a href="{% url 'tags:login' %}?next={% url 'tags:post_login' %}" >Login or sign up</a> to create trees, groups, and add tags and ressources
    </p>
    <p>
      See the <a href="{% url 'tags:about' %}" >About</a> section for information on this website
    </p>
  {% endif %}

  <h3>Public listed groups:</h3>
  <ul class="groupList" >
  {% if listed_groups %}
    {% for group, single_member, has_admin_permission in listed_groups %}
	{% include "tags/blocks/group_block.html" %}
    {% endfor %}
  {% else %}
    <p>
      There are no public groups at the moment
    </p>
  {% endif %}
  </ul>

  {% if logged_in %}
    <article>
    <a href="{% url 'tags:upsert_group' %}" class="buttonLink" ><i class="fa fa-plus"></i></a>
    </article>
  {% endif %}

{% endblock %}
