{% extends "tags/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Apps" %}{% endblock %}

{% block content %}

  <div id="task_groups_app">

    <h1>{% trans "List of task groups" %}</h1>

  <!-- Groups -->
  <ul class="taskGroupList" >
    {% for group, total_inprogress_tasks, total_completed_tasks, total_tasks, total_inprogress_prc, total_completed_prc, edit_form in groups %}
      <li class="groupBlock">
        <a v-if="!editGroup({{ group.id }})" href="{% url 'tags:view_tasks' username=user.username group_name=group.name %}" >
	  {{ group.name }}
          <span class="alignRight">{{ total_completed_tasks }}/{{ total_tasks }} - <span class="greenText">{{ total_completed_prc }}%</span>, <span class="orangeText">{{ total_inprogress_prc }}%</span></span></a>
        <form v-if="editGroup({{ group.id }})" class="contentForm" method="post" >
          {% csrf_token %}
	  {{ edit_form.non_field_errors}}
          {{ edit_form.name.errors }}
          {{ edit_form.name }}
          {{ edit_form.group_id }}
          <button class="innerButton" name="upsert_group" type="submit"><i class="fa fa-check"></i></button>
        </form>
	  <button v-if="editGroup({{ group.id }})" @click="exitEditMode()" class="mediumButton" ><i class="fa fa-close"></i></button>
	  <button v-if="!editGroup({{ group.id }})" @click="enterEditMode({{ group.id }})" class="mediumButton" ><i class="fa fa-edit"></i></button>

	  <form class="inlineForm" method="post" >
	  {% csrf_token %}
	    <input type="hidden" value="{{ group.id }}" name="delete_group_id" />
	  <button class="mediumButton" ><i class="fa fa-trash"></i></button>

	</form>
      </li>
    {% endfor %}
  </ul>

  <button @click="addMode=!addMode" class="menuButtonLink" ><i class="fa fa-plus"></i>{% trans "Add" %}</button>

  <form v-if="addMode" class="contentForm" method="post">
  {% csrf_token %}
  <ul>
    <li>
      <div class="errorMessage">{{ add_grouptask_form.name.errors }}</div>
      {{ add_grouptask_form.name.label_tag }} {{ add_grouptask_form.name }}
    </li>
    <li><button type="submit" name="upsert_group" >{% trans "Submit" %}</button></li>
  </ul>
  {{ add_grouptask_form.group_id }}
  </form>

  </div>

{% endblock %}

{% block script_includes %}
  {{ block.super }}
  <!-- VueJS Script include -->
  <script src="{% static 'tags/task_groups.js' %}"></script>
{% endblock %}

