{% extends "tags/base.html" %}
{% load static %}

{% block title %}{{ group.name }}{% endblock %}

{% block content %}
  <h1>{{ group.name }}</h1>

  <p>
    <b>Members</b>

    <ul>
    {% for member in members %}
      <li>{{member.user}}, {{member.role}}</li>
    {% endfor %}
    </ul>
  </p>

  <p>
  <a href="{% url 'tags:upsert_group' username=username group_id=group.id %}" class="buttonLink" >Edit</a>
  </p>
{% endblock %}

{% block script_includes %}
{{ block.super }}
  <!-- VueJS Script include -->
  <script src="{% static 'tags/vue-markdown.js' %}"></script>
  <script src="{% static 'tags/entry_display.js' %}"></script>
{% endblock %}
