{% extends "tags/base.html" %}
{% load i18n %}

{% block title %}{% trans "Manage groups" %}{% endblock %}

{% block content %}

  {% if logged_in %}
  <h3>{% trans "Saved groups:" %}</h3>
    <ul class="groupList" >
    {% for group, single_member, has_admin_permission in saved_groups %}
	{% include "tags/blocks/group_block.html" %}
    {% endfor %}
    </ul>

      <h3>{% trans "Joined groups:" %}</h3>
    <ul class="groupList" >
    {% for group, single_member, has_admin_permission in joined_groups %}
	{% include "tags/blocks/group_block.html" %}
    {% endfor %}
    </ul>
  {% else %}

    {% url 'tags:login' as login_url %}
    {% url 'tags:post_login' as post_login_url %}
    {% url 'tags:about' as about_url %}

    {% blocktrans %}
    <p>
    <a href="{{ login_url }}?next={{ post_login_url }}" >Login or sign up</a> to create trees, groups, and add tags and ressources
    </p>
    <p>
    See the <a href="{{ about_url}}" >About</a> section for information on this website
    </p>
    {% endblocktrans %}

  {% endif %}

  <h3>{% trans "Public listed groups:" %}</h3>
  <ul class="groupList" >
  {% if listed_groups %}
    {% for group, single_member, has_admin_permission in listed_groups %}
	{% include "tags/blocks/group_block.html" %}
    {% endfor %}
  {% else %}
    <p>
    {% trans "There are no public groups at the moment" %}
    </p>
  {% endif %}
  </ul>

  {% if logged_in %}
    <article>
    <a href="{% url 'tags:upsert_group' %}" class="buttonLink" ><i class="fa fa-plus"></i></a>
    </article>
  {% endif %}

{% endblock %}
